@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-card {
  background-color: hsl(216, 50%, 16%);
  justify-content: center;
  width: 330px;
  padding: 22px;
  border-radius: 18px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.main-card-img img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
  display: block;
}
.main-card-img {
    position: relative;
    cursor: pointer;
}

.overlay{
    position: absolute;
    top: 0;
    left:0 ;
    width:100%;
    height: 100%;
    background-color: hsla(178, 100%,50%, 0.5);
    border-radius: 12px;
    display: flex;
  justify-content: center;
  align-items:center ;

  opacity: 0;
  transition:opacity 0.3s ease;
}
.overlay .view-icon{
    width: 45px;
}
.main-card-img:hover .overlay{
    cursor: pointer;
    opacity: 1;
}
.title {
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.description {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}
.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.price-item .left,
.price-item .right {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.price-item .left span {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.price-item .right span {
  color: hsl(215, 51%, 70%);
  font-weight: 400;
}

.price-item img {
  width: 18px;
  height: 18px;
}


.divider-line {
  background-color: hsl(215, 32%, 27%);
  width: 100%;
  height: 1px;
  margin-bottom: 18px;
}
.avatar img {
  border-radius: 50%;
  width: 32px;
  border: 1px solid white;
}
.avatar .create {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  font-size: 16px;
}

.avatar .name {
  color: white;
  font-weight: 400;
  font-size: 16px;
}
.avatar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
}
.avatar .name:hover {
    color: cyan;
    cursor:pointer;

}

@media(max-width:600px) {
    .main-card{
        width:90%;
        max-width: 350px;
        padding: 18pxpx;
    }
 .title {
    font-size: 18px ;
  }

  .description {
    font-size:16px ;
  }

  .main-card-img img {
    border-radius: 10px;
 }
 .price-item {
    margin-bottom: 16px;
 }
 .avatar {
    gap: 10px;
 }
}